html
{
	background: gray;
}
body
{
	font-size: 20px;
}
a
{
	text-decoration: none;
	color: white;
	font: italic;
	font: bold;
}
h4,h3
{
	color:white;
}
header 
{
  background-color: black;
  padding: 20px;
  text-align: center;
  font-size: 35px;
  color: white;
}
footer
{
	position: relative;
	margin-top: -200px;
	background: black;
	color: white;
	padding: 1px;
	text-align: center;
	font-size: 15px;
}
th
{
	border: solid 2px;
	background: white;
}

td
{
	border: solid 2px;
	background: grey;
	margin: 5px;
}
#id
{
	background: white;
}
.nav
{
	background-color: #1c1c1c;
	height: 40px;
	width: 100%;
}
.logins
{

}
.button
{

}